body {
    background-color: black;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 500px;
    transition: transform 1s ease;

    /* Borde luminoso verde tenue */
    box-shadow:
        0 0 6px rgba(0, 255, 0, 0.25),
        0 0 12px rgba(0, 255, 0, 0.18),
        0 0 20px rgba(0, 255, 0, 0.12);
}

img:hover {
    transform: scale(1.3);
}
